/*-----------------------------------------------------*/
/*----Contenido Principal de las páginas de recetas----*/
/*-----------------------------------------------------*/

main ul, main ol {
    margin-left: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

main li {
    padding-bottom: 1rem;
}

main {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.pasos {
    width: 700px;
}

.pasos img {
    display: block;
    transition: all 0.3s ease-in;
}

/* .pasos img:hover {
    transform: scale(1.2);
} */


/* Carrusel imágenes */
.slider {
    overflow: hidden;
    width: 65%; 
    margin: auto;
}

.slider--inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    transition: all 0.3s ease-in;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

/* Aplicamos un ratio centramos desde el centro. Por si la imagenes no fuesen 1/1 */
.slider--inner img {
    aspect-ratio: 1 / 1; 
    object-fit: cover;

    width: 100%;
    min-width: 100%; 
    transition: all 0.5s ease-in-out;

    scroll-snap-align: center;
} 


.thumbs-container {
    display: flex;
    gap: 8px;

    width: 100%;
    max-width: 65%;
    margin: auto;
    margin-top: 15px;
    overflow-x: auto;

}

.thumb {
    /* width: 70px; */
    width: 70px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

.thumbs-container .thumb:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

.thumbs-container .thumb.active {
    opacity: 1;
    transform: scale(1.1);
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}



/* .controls {
    width: 100%;

    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.controls button {
    background-color: #392d13;
    color: white;
    border: none;
    padding: 2% 5%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.controls button:hover {
    background-color: #31260f;
    transform: scale(1.1);
}

.controls button:active {
    background-color: #261d0b;
    transform: scale(0.95);
} */


@media (max-width: 768px) {
    .thumb {
        width: 50px;
    }
}