/*-----------------------------------------------------*/
/*----Contenido Principal de las páginas de recetas----*/
/*-----------------------------------------------------*/

main ul, main ol {
    margin-left: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

main li {
    padding-bottom: 1rem;
}

main {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.pasos {
    width: 700px;
}

.pasos img {
    display: block;
    margin: 1rem auto;
    /*padding: 1rem;*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
}





